*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store

.env
lib-cov
node_modules
bower_components
npm-debug.log

config/deploy/*
config/aws_creds.rb
kitchen/
.capistrano/
config/config.development.js
config/config.production.js